@model CarMarket.Web.ViewModels.Listings.EditListingInputModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center my-text-color mt-4 mb-2">Edit your listing</h2>
<div class="container mb-3 text-dark">
    <div class="row justify-content-center">
        <div class="col-md-8 order-md-1 font-weight-bold my-text-color">
            <hr class="mb-3">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.MakeId"><i class="fas fa-car"></i> Make</label>
                        <select asp-for="@Model.MakeId" class="custom-select d-block w-100">
                            <option value="@Model.MakeId" selected>@Model.MakeName</option>
                        </select>
                        <span asp-validation-for="@Model.MakeId" class="text-info"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.ModelId"><i class="fas fa-car-side"></i> Model</label>
                        <select asp-for="@Model.ModelId" class="custom-select d-block w-100">
                            <vc:models-select-list make-id="@Model.MakeId" model-id="@Model.ModelId"></vc:models-select-list>
                        </select>
                        <span asp-validation-for="@Model.ModelId" class="text-info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.BodyId"><i class="fas fa-truck-pickup"></i> Body type</label>
                        <select asp-for="@Model.BodyId" class="custom-select d-block w-100">
                            <vc:bodies-select-list id="@Model.BodyId"></vc:bodies-select-list>
                        </select>
                        <span asp-validation-for="@Model.BodyId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.TransmissionId"><i class="fas fa-cogs"></i> Transmission type</label>
                        <select asp-for="@Model.TransmissionId" class="custom-select d-block w-100">
                            <vc:transmissions-select-list id="@Model.TransmissionId"></vc:transmissions-select-list>
                        </select>
                        <span asp-validation-for="@Model.TransmissionId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.FuelId"><i class="fas fa-gas-pump"></i> Fuel type</label>
                        <select asp-for="@Model.FuelId" class="custom-select d-block w-100">
                            <vc:fuels-select-list id="@Model.FuelId"></vc:fuels-select-list>
                        </select>
                        <span asp-validation-for="@Model.FuelId" class="text-info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.ConditionId"><i class="fas fa-oil-can"></i> Condition</label>
                        <select asp-for="@Model.ConditionId" class="custom-select d-block w-100">
                            <vc:conditions-select-list id="@Model.ConditionId"></vc:conditions-select-list>
                        </select>
                        <span asp-validation-for="@Model.ConditionId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.ColorId"><i class="fas fa-palette"></i> Color</label>
                        <select asp-for="@Model.ColorId" class="custom-select d-block w-100">
                            <vc:colors-select-list id="@Model.ColorId"></vc:colors-select-list>
                        </select>
                        <span asp-validation-for="@Model.ColorId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.ProductionYear"><i class="fas fa-calendar"></i>  Production year</label>
                        <input asp-for="@Model.ProductionYear" type="number" class="form-control">
                        <span asp-validation-for="@Model.ProductionYear" class="text-info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.Mileage"><i class="fas fa-dolly"></i> Mileage in km</label>
                        <input asp-for="@Model.Mileage" type="number" class="form-control">
                        <span asp-validation-for="@Model.Mileage" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.Horsepower"><i class="fas fa-horse"></i> Horsepower</label>
                        <input asp-for="@Model.Horsepower" type="number" class="form-control">
                        <span asp-validation-for="@Model.Horsepower" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.Price"><i class="fas fa-money-bill-alt"></i> Price in BGN</label>
                        <input asp-for="@Model.Price" type="number" class="form-control">
                        <span asp-validation-for="@Model.Price" class="text-info"></span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Description"><i class="fas fa-file-alt"></i> Description</label>
                    <textarea asp-for="@Model.Description" class="form-control" rows="3"></textarea>
                    <small class="text-muted">Additional information (not required, up to 1500 symbols)</small>
                    <span asp-validation-for="@Model.Description" class="text-info"></span>
                </div>
                <div>
                    <p>
                        <span><i class="fas fa-images"></i> Car images</span>
                        <small class="text-muted">
                            You cannot post a listing without car images. A total of 3 are required, each up to 1 MB in size.
                            Only ".jpeg", ".jpg" and ".pgn" formats are allowed. The main image of your car is the one that will be displayed in search results.
                            The rest will be present in the detailed view of your listing.
                        </small>
                    </p>
                </div>

                @for (int i = 0; i < 3; i++)
                {
                    var label = "";
                    var changeText = "";
                    if (Model.InputImages[i].IsMain)
                    {
                        label = "Choose main image";
                        changeText = "Change main image";
                    }
                    else
                    {
                        label = "Choose secondary image";
                        changeText = "Change secondary image";
                    }
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <img class="custom-thumbnail-img" src="@Model.InputImages[i].ImageUrl" alt="Card image cap">
                        </div>
                        <div class="col-md-8">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck@(i)">
                                <label class="form-check-label" for="defaultCheck@(i)">@changeText</label>
                            </div>
                            <div class="custom-file mb-2" style="display:none">
                                <input asp-for="@Model.InputImages[i].ImageFile" type="file" class="custom-file-input">
                                <label asp-for="@Model.InputImages[i].ImageFile" class="custom-file-label">@label</label>
                                <input asp-for="@Model.InputImages[i].Id" type="hidden" />
                                <input asp-for="@Model.InputImages[i].IsMain" type="hidden" />
                                <span asp-validation-for="@Model.InputImages[i].ImageFile" class="text-info"></span>
                            </div>
                        </div>
                    </div>
                }
                <hr class="mb-4">
                <button class="btn btn-lg btn-outline-light btn-block my-background-color" type="submit"><i class="fas fa-save"></i> Save changes</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $('.custom-file-input').on('change', function () {
            const fileName = event.target.files[0].name;
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

        $('.form-check-input').on('change', function () {
            $(this).parent().parent().children().last().toggle();
        });
    </script>
}