@model CarMarket.Web.ViewModels.Listings.EditListingInputModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center my-text-color mt-4 mb-2">Edit your listing</h2>
<div class="container mb-3 text-dark">
    <div class="row justify-content-center">
        <div class="col-md-8 order-md-1 font-weight-bold my-text-color">
            <hr class="mb-3">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.MakeId">Make</label>
                        <select asp-for="@Model.MakeId" class="custom-select d-block w-100">
                            <option value="@Model.MakeId" selected>@Model.MakeName</option>
                        </select>
                        <span asp-validation-for="@Model.MakeId" class="text-info"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.ModelId">Model</label>
                        <select asp-for="@Model.ModelId" class="custom-select d-block w-100">
                            <vc:models-select-list make-id="@Model.MakeId" model-id="@Model.ModelId"></vc:models-select-list>
                        </select>
                        <span asp-validation-for="@Model.ModelId" class="text-info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.BodyId">Body type</label>
                        <select asp-for="@Model.BodyId" class="custom-select d-block w-100">
                            <vc:bodies-select-list id="@Model.BodyId"></vc:bodies-select-list>
                        </select>
                        <span asp-validation-for="@Model.BodyId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.TransmissionId">Transmission type</label>
                        <select asp-for="@Model.TransmissionId" class="custom-select d-block w-100">
                            <vc:transmissions-select-list id="@Model.TransmissionId"></vc:transmissions-select-list>
                        </select>
                        <span asp-validation-for="@Model.TransmissionId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.FuelId">Fuel type</label>
                        <select asp-for="@Model.FuelId" class="custom-select d-block w-100">
                            <vc:fuels-select-list id="@Model.FuelId"></vc:fuels-select-list>
                        </select>
                        <span asp-validation-for="@Model.FuelId" class="text-info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.ConditionId">Condition</label>
                        <select asp-for="@Model.ConditionId" class="custom-select d-block w-100">
                            <vc:conditions-select-list id="@Model.ConditionId"></vc:conditions-select-list>
                        </select>
                        <span asp-validation-for="@Model.ConditionId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.ColorId">Color</label>
                        <select asp-for="@Model.ColorId" class="custom-select d-block w-100">
                            <vc:colors-select-list id="@Model.ColorId"></vc:colors-select-list>
                        </select>
                        <span asp-validation-for="@Model.ColorId" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.ProductionYear">Production year</label>
                        <input asp-for="@Model.ProductionYear" type="number" class="form-control">
                        <span asp-validation-for="@Model.ProductionYear" class="text-info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.Mileage">Mileage in km</label>
                        <input asp-for="@Model.Mileage" type="number" class="form-control">
                        <span asp-validation-for="@Model.Mileage" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.Horsepower">Horsepower</label>
                        <input asp-for="@Model.Horsepower" type="number" class="form-control">
                        <span asp-validation-for="@Model.Horsepower" class="text-info"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.Price">Price in BGN</label>
                        <input asp-for="@Model.Price" type="number" class="form-control">
                        <span asp-validation-for="@Model.Price" class="text-info"></span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Description">Description</label>
                    <textarea asp-for="@Model.Description" class="form-control" rows="3"></textarea>
                    <small class="text-muted">Additional information (not required, up to 1500 symbols)</small>
                    <span asp-validation-for="@Model.Description" class="text-info"></span>
                </div>
                <div>
                    <p>
                        <span>Car images</span>
                        <small class="text-muted">
                            You cannot post a listing without car images. A total of 3 are required, each up to 1 MB in size.
                            Only ".jpeg", ".jpg" and ".pgn" formats are allowed. The main image of your car is the one that will be displayed in search results.
                            The rest will be present in the detailed view of your listing.
                        </small>
                    </p>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <img style="width: 100%; height: 13vw; object-fit: cover;" src="@Model.MainImage.ImageUrl" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Change main image
                            </label>
                        </div>
                        <div class="custom-file mb-2" style="display:none">
                            <input asp-for="@Model.MainImage.Image" type="file" class="custom-file-input">
                            <label asp-for="@Model.MainImage.Image" class="custom-file-label">Choose main image</label>
                            <input asp-for="@Model.MainImage.Id" type="hidden" />
                            <span asp-validation-for="@Model.MainImage.Image" class="text-info"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <img style="width: 100%; height: 13vw; object-fit: cover;" src="@Model.SecondaryImageA.ImageUrl" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Change secondary image
                            </label>
                        </div>
                        <div class="custom-file mb-2" style="display:none">
                            <input asp-for="@Model.SecondaryImageA.Image" type="file" class="custom-file-input">
                            <label asp-for="@Model.SecondaryImageA.Image" class="custom-file-label">Choose secondary image</label>
                            <input asp-for="@Model.SecondaryImageA.Id" type="hidden" />
                            <span asp-validation-for="@Model.SecondaryImageA.Image" class="text-info"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img style="width: 100%; height: 13vw; object-fit: cover;" src="@Model.SecondaryImageB.ImageUrl" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                                Change secondary image
                            </label>
                        </div>
                        <div class="custom-file mb-2" style="display:none">
                            <input asp-for="@Model.SecondaryImageB.Image" type="file" class="custom-file-input">
                            <label asp-for="@Model.SecondaryImageB.Image" class="custom-file-label">Choose secondary image</label>
                            <input asp-for="@Model.SecondaryImageB.Id" type="hidden" />
                            <span asp-validation-for="@Model.SecondaryImageB.Image" class="text-info"></span>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-lg btn-outline-light btn-block my-background-color" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $('.custom-file-input').on('change', function () {
            const fileName = event.target.files[0].name;
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

        $('.form-check-input').on('change', function () {
            $(this).parent().parent().children().last().toggle();
        });
    </script>
}