@model CarMarket.Web.ViewModels.Search.SearchInputModel
@{
    ViewData["Title"] = "Search";
}

<h2 class="text-center my-text-color mt-4 mb-2">Search for listings</h2>
<div class="container mb-3 text-dark">
    <div class="row justify-content-center font-weight-bold my-text-color">
        <div class="col-md-8 order-md-1">
            <hr class="mb-3">
            <form asp-controller="Search" asp-action="Result" method="get">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.MakeId"><i class="fas fa-car"></i> Make</label>
                        <select asp-for="@Model.MakeId" class="custom-select d-block w-100" id="makeModel">
                            <option value="">Any make</option>
                            <vc:makes-select-list id="0"></vc:makes-select-list>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.ModelId"><i class="fas fa-car-side"></i> Model</label>
                        <select asp-for="@Model.ModelId" class="custom-select d-block w-100" id="modelSelect">
                            <option value="">Any model</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.BodyId"><i class="fas fa-truck-pickup"></i> Body type</label>
                        <select asp-for="@Model.BodyId" class="custom-select d-block w-100">
                            <option value="">Any type</option>
                            <vc:bodies-select-list id="0"></vc:bodies-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.TransmissionId"><i class="fas fa-cogs"></i> Transmission type</label>
                        <select asp-for="@Model.TransmissionId" class="custom-select d-block w-100">
                            <option value="">Any type</option>
                            <vc:transmissions-select-list id="0"></vc:transmissions-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="@Model.FuelId"><i class="fas fa-gas-pump"></i> Fuel type</label>
                        <select asp-for="@Model.FuelId" class="custom-select d-block w-100">
                            <option value="">Any type</option>
                            <vc:fuels-select-list id="0"></vc:fuels-select-list>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label asp-for="@Model.ConditionId"><i class="fas fa-oil-can"></i> Condition</label>
                        <select asp-for="@Model.ConditionId" class="custom-select d-block w-100">
                            <option value="">Any type</option>
                            <vc:conditions-select-list id="0"></vc:conditions-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label asp-for="@Model.ColorId"><i class="fas fa-palette"></i> Color</label>
                        <select asp-for="@Model.ColorId" class="custom-select d-block w-100">
                            <option value="">Any color</option>
                            <vc:colors-select-list id="0"></vc:colors-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label><i class="fas fa-sort"></i> Order by</label>
                        <select asp-for="@Model.OrderingValue" class="custom-select d-block w-100">
                            <vc:ordering-values-select-list></vc:ordering-values-select-list>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-form-label col-sm-3 mr-2"><i class="fas fa-calendar"></i> Production year</div>
                    <label asp-for="@Model.ProductionYearFrom" class="col-form-label">from</label>
                    <div class="col-sm-4">
                        <input asp-for="@Model.ProductionYearFrom" type="number" class="form-control">
                    </div>
                    <label asp-for="@Model.ProductionYearTo" class="col-form-label">to</label>
                    <div class="col-sm-4 mb-2">
                        <input asp-for="@Model.ProductionYearTo" type="number" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-form-label col-sm-3 mr-2"><i class="fas fa-dolly"></i> Mileage in km</div>
                    <label asp-for="@Model.MileageFrom" class="col-form-label">from</label>
                    <div class="col-sm-4">
                        <input asp-for="@Model.MileageFrom" type="number" class="form-control">
                    </div>
                    <label asp-for="@Model.MileageTo" class="col-form-label">to</label>
                    <div class="col-sm-4 mb-2">
                        <input asp-for="@Model.MileageTo" type="number" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-form-label col-sm-3 mr-2"><i class="fas fa-horse"></i> Horsepower</div>
                    <label asp-for="@Model.HorsepowerFrom" class="col-form-label">from</label>
                    <div class="col-sm-4">
                        <input asp-for="@Model.HorsepowerFrom" type="number" class="form-control">
                    </div>
                    <label asp-for="@Model.HorsepowerTo" class="col-form-label">to</label>
                    <div class="col-sm-4 mb-2">
                        <input asp-for="@Model.HorsepowerTo" type="number" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-form-label col-sm-3 mr-2"><i class="fas fa-money-bill-alt"></i> Price in BGN</div>
                    <label asp-for="@Model.PriceFrom" class="col-form-label">from</label>
                    <div class="col-sm-4">
                        <input asp-for="@Model.PriceFrom" type="number" class="form-control">
                    </div>
                    <label asp-for="@Model.PriceTo" class="col-form-label">to</label>
                    <div class="col-sm-4 mb-2">
                        <input asp-for="@Model.PriceTo" type="number" class="form-control">
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-lg btn-outline-light btn-block my-background-color" type="submit"><i class="fas fa-search"></i> Search</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/load-models.js"></script>
    <script src="~/js/fetch-models-search.js"></script>
}