@model CarMarket.Web.ViewModels.Search.SearchResultViewModel
@using CarMarket.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Search Result";
}

<h2 class="text-center my-text-color mt-4 mb-2">Search results</h2>
<div class="container mb-5 text-dark">
    <hr class="mb-4">
    <div class="row justify-content-center">
        <div class="col">
            <p>@Model.SearchInfoModel.MakeName</p>
            <p>@Model.SearchInfoModel.ModelName</p>
            <p>@Model.SearchInfoModel.BodyType</p>
            <p>@Model.SearchInfoModel.TransmissionType</p>
            <p>@Model.SearchInfoModel.FuelType</p>
            <p>@Model.SearchInfoModel.ConditionType</p>
            <p>@Model.SearchInfoModel.ColorName</p>
            <p>@Model.SearchInfoModel.OrderingValueString</p>
            <p>@Model.SearchInfoModel.ProductionYearFrom - @Model.SearchInfoModel.ProductionYearTo</p>
            <p>@Model.SearchInfoModel.MileageFrom - @Model.SearchInfoModel.MileageTo</p>
            <p>@Model.SearchInfoModel.HorsepowerFrom - @Model.SearchInfoModel.HorsepowerTo</p>
            <p>@Model.SearchInfoModel.PriceFrom - @Model.SearchInfoModel.PriceTo</p>
        </div>
    </div>
    @if (Model.Listings.Count() > 0)
    {
        @foreach (var listing in Model.Listings)
        {
            <div class="row justify-content-center">
                <div class="card mb-2 w-75">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="@listing.ImageUrl" class="card-img custom-thumbnail-img" alt="...">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-car"></i> @listing.MakeModelName</h5>
                                <p class="card-text mb-0"><i class="fas fa-money-bill-alt"></i><span class="font-weight-bold"> Price: </span>@listing.Price BGN</p>
                                <p class="card-text mb-0"><i class="fas fa-calendar"></i><span class="font-weight-bold"> Production year: </span>@listing.ProductionYear</p>
                                <p class="card-text mb-0"><i class="fas fa-dolly"></i><span class="font-weight-bold"> Mileage: </span>@listing.Mileage km</p>
                                <p class="card-text"><i class="fas fa-clock"></i><span class="font-weight-bold"> Created on: </span> <time datetime="@listing.CreatedOn.ToString("O")"></time></p>
                                @if (this.SignInManager.IsSignedIn(this.User))
                                {
                                    if (this.UserManager.GetUserId(this.User) == listing.SellerId)
                                    {
                                        <p class="card-text text-center"><i class="fas fa-user-check"></i><span class="font-weight-bold"> Your listing</span></p>
                                    }
                                }
                            </div>
                        </div>
                        <a asp-controller="Listings" asp-action="Details" asp-route-id="@listing.Id" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
        }

        var prevDisabled = !Model.Listings.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Listings.HasNextPage ? "disabled" : "";
        var searchModelParamsDictionary = (Dictionary<string, string>)ViewData["Query"];

        <div class="text-center">
            <a asp-action="Result"
               asp-all-route-data="@searchModelParamsDictionary"
               asp-route-pageNumber="@(Model.Listings.PageIndex - 1)"
               class="btn btn-outline-light my-background-color @prevDisabled">
                Previous
            </a>
            <a asp-action="Result"
               asp-all-route-data="@searchModelParamsDictionary"
               asp-route-pageNumber="@(Model.Listings.PageIndex + 1)"
               class="btn btn-outline-light my-background-color @nextDisabled">
                Next
            </a>
        </div>
    }
    else
    {
        <h6 class="text-center my-text-color mt-4 mb-3">No results found.</h6>
    }
</div>
