@model CarMarket.Web.ViewModels.Administration.Makes.DetailsMakeViewModel
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center my-text-color mt-4 mb-3">Name: @Model.Name</h2>
<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8 font-weight-bold my-text-color">
            <hr class="mb-4">
            <p>Make Id: @Model.Id</p>
            <p>Total models: @Model.ModelsCount</p>
            <p>Created on: <time datetime="@Model.CreatedOn.ToString("O")"></time></p>
            <a asp-controller="Makes" asp-action="Index" class="btn btn-outline-light my-background-color"><i class="fas fa-backward"></i> Back to makes</a>
            <a asp-action="CreateModel" class="btn btn-outline-light my-background-color">Add a new model</a>
            <hr class="mb-4">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Model Id
                        </th>
                        <th>
                            Model Name
                        </th>
                        <th>
                            Created On
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mod in Model.Models)
                    {
                        <tr>
                            <td>
                                @mod.Id
                            </td>
                            <td>
                                @mod.Name
                            </td>
                            <td>
                                <time datetime="@mod.CreatedOn.ToString("O")"></time>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

